<form action="/shop/adiciona" method="post">
    First name:<br>
    <input type="text" name="title" value="Maracana">
    <br>
    Last name:<br>
    <input type="text" name="price" value="44">
    <br>
    <input type="text" name="email" value="ze@mistura.pt">
    <br><br>
    <input type="submit" value="Submit">
</form>